@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Identity Application Test</h1>
    <p class="lead">This application is intended to test authentication with Thinktecture IdentityServer v3</p>
    <p class="lead">OWIN/Katana authentication middleware sample</p>
</div>
